@import './markdown.css';

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}
html {
  background-color: #fff;
  color: #000;
  transition: background-color,color 0.2s ease-out;
}

html.dark {
  background-color: #1c1c1e;
  color: #fff;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  @apply bg-l-green opacity-75;

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}

.btn {
  @apply cursor-pointer outline-none hover:text-l-blue dark:hover:text-d-blue;
}

.icon-btn {
  @apply cursor-pointer outline-none hover:text-l-blue dark:hover:text-d-blue;
}
