@import './markdown.css';

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}
html {
  background-color: #fff;
  color: #000;
  transition: background-color,color 0.2s ease-out;
}

html.dark {
  background-color: #1c1c1e;
  color: #fff;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  @apply bg-l-green opacity-75;

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}

.btn {
  @apply cursor-pointer outline-none hover:text-l-blue dark:hover:text-d-blue;
}

.icon-btn {
  @apply cursor-pointer outline-none hover:text-l-blue dark:hover:text-d-blue;
}

.btn-link {
  @apply 
    cursor-pointer outline-none w-8 text-xs h-6 leading-none
    hover:(rounded-0.625rem bg-l-gray-6)
    dark:hover:(bg-d-gray-3);
}
.btn-link.active {
  @apply 
  rounded-0.625rem
    text-l-label-2 bg-l-gray-6
    dark:(text-d-label bg-d-gray-3);
}

input[type=text] {
  @apply 
    w-full pl-1.875 py-0.4375 outline-none rounded-0.625rem
    text-l-input bg-l-input caret-l-input placeholder-l-input
    dark:(text-d-input bg-d-input caret-d-input placeholder-d-input);
}